name: Tests
on: [push]
jobs:
  tests:
    name: ${{ matrix.python-version }}
    runs-on: ubuntu-20.04
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      kyototycoon:
        image: coleifer/kyototycoon
        ports:
          - 1978:1978
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: pip deps
        run: pip install gevent redis peewee ukt
      - name: runtests
        env:
          HUEY_TRAVIS: '1'
        run: python runtests.py -v 2
